# [1] Exploring The Database

In [1]:
cd ..

/home/jovyan/Business_Analytics/Business-Insights-and-Analytics/Marketing_Analytics

In [3]:
%run __init__.py

## 1. How many users have signed up? - 64416
a) View the shape of the `people_person` table to find out how many users have signed up

In [4]:
people_person.shape

(64416, 9)

## 2. How many users signed up prior to 2017-01-12? - 35500
a) Convert `date_joined` table to datetime format

b) Sort the values in the new `date` column

c) Create a mask that finds all the entries with a `date` prior to `2017-01-12`

In [4]:
# convert the `date_joined` column to datetime format

people_person['date_joined'] = pd.to_datetime(people_person['date_joined'])

In [5]:
# splitting the `date_joined` column into a date column and a time column

people_person['date'] = people_person["date_joined"].dt.date

In [6]:
people_person.sort_values(by='date').head()

,id,first_name,last_name,email,channel,date_joined,photo,fee,gender,date
0,1,Meaghan,Lapete,meaghan.lapete820@aol.com,NaN,2015-07-12 15:13:16.673652,https://placekitten.com/360/208,0.0,f,2015-07-12
72,73,Napoleon,Quaresma,napoleon.quaresma561@gmail.com,NaN,2015-07-12 14:07:05.476956,https://placekitten.com/223/294,0.0,m,2015-07-12
71,72,Norman,Barde,norman.barde755@yahoo.com,NaN,2015-07-12 05:14:12.241734,https://placekitten.com/296/252,0.0,m,2015-07-12
70,71,Chan,Suski,chan.suski812@aol.com,NaN,2015-07-12 14:59:47.974328,https://placekitten.com/366/382,0.0,f,2015-07-12
69,70,Diamond,Vangelder,diamond.vangelder902@aol.com,NaN,2015-07-12 13:52:21.988545,https://placekitten.com/209/322,0.0,f,2015-07-12

In [7]:
# all the users that signed up before 2017-01-12

early_signers = people_person[(people_person['date'] < datetime.date(2017,1,12))]
early_signers.shape

(35500, 10)

## 3. What percentage of users have added pets? - 80.44%

a) Join the people_person and `pets_pet` tables in sqlite3 using query: 

         SELECT h.id, p.owner_id
         FROM people_person h
         JOIN pets_pet p
         ON (h.id = p.owner_id);

b) Save query result to csv titled `users_with_pets`

c) Count the number of unique `id's` in the `users_with_pets` table. This is the number of people with pets

d) Calculate the percentage of users with pets by dividing the `number_users_with_pets` by the `number_users`, multiply by 100

In [8]:
users_with_pets = pd.read_csv('./users_with_pets.csv')
users_with_pets.shape

(77512, 2)

In [9]:
users_with_pets.head()

      id  owner_id
0  12601     12601
1  12601     12601
2  12602     12602
3  12602     12602
4  12603     12603

In [10]:
# count the number of unique owner id's in users_with_pets df, this is the number of people with pets
number_users_with_pets = len(users_with_pets.id.unique())
number_users_with_pets

51816

In [11]:
# number of users is the number of rows in the people_person df. 
number_users = people_person.shape[0]
number_users

64416

In [12]:
percentage_with_pets = (number_users_with_pets/number_users) * 100
percentage_with_pets

80.43964232488823

## 4. Of those users, how many pets have they added on average? - 1.496
a) Count the number of individual pets by finding the number of id's in the `pets_pet` table
    
b) Calculate the number of pets users have added on average by dividing the `number_of_pets` with the `number_of_users_with_pets`

In [13]:
number_of_pets = len(pets_pet.id)

In [14]:
number_of_pets, number_users_with_pets

(77512, 51816)

In [15]:
number_of_pets / number_users_with_pets

1.4959085996603365

## 5. What percentage of pets play well with cats? - 24.78%
a) Use `value_counts()` to count the number of pets that play well with cats, a value of 1 indicates a pet plays well with cats

b) Calculate the percentage that plays well with cats by dividing the number of those that do with the total number of pets, multiply by 100

In [16]:
pets_pet.plays_cats.value_counts()

0    58308
1    19204
Name: plays_cats, dtype: int64

In [17]:
plays_well_with_cats = (19204 / number_of_pets) * 100
plays_well_with_cats

24.775518629373515